.WorkspaceList {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.WorkspaceList__header {
  font-size: 18px;
  font-weight: bold;
  margin: 0 0 16px;
  padding-bottom: 8px;

}

.WorkspaceList__workspaceCard {
  color: black;
  margin-bottom: 8px;
}

/* to do: change css name */
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  grid-gap: 10px;
}

.workspace-container {
  background-color: #A9AFD1;
  border-radius: 10px;
  padding: 15px;
}